*{
  margin:0;
  padding:0;
  text-decoration: none;
  list-style: none;
}

body
{

}

p{
  line-height: 1.6;
  margin-bottom: 20px;
  color:rgb(65, 64, 64)
}

footer
{

  height: 5vh;
  width:100vw;

  min-height: 5vh;
  min-width:100vw;

  background-color: #000000
}

.wrapper
{
  width: 100%;
  height: 100vh;
  background: url("../img/image6.jpg") no-repeat 50% 50%;
  background-size: cover;
  display: table;


}

.content
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform:  translate(-50%, -50%);

}

.content h1
{
   color:#fff;
   font-family: "Poppins";
   font-weight:200;
   font-size: 48px;
    text-shadow: 2px 2px #000;
}

nav
{
  width: 100%;
  background: #000;
  height: 70px;
  position: static;
  z-index: 1;
}


nav #brand
{
  float:left;
  display: block;
  margin-left: 84px;
  font-size: 30px;
  line-height: 70px;
  font-weight: bold;
}



nav #brand a
{
  color: #fff;
  transition: : all 0.3s ease-out;
  font-family: "Poppins";
  font-weight: 200;

}

.gold
{
  color:gold;
  font-size: 36px;
  font-style: italic;
  font-weight: 400;
}

.chunky
{
  color:#fff;
  font-family: "Anton";
  font-weight:400;
}

nav #menu
{
  float: right;
  right:2%;
  position: relative;
}

nav #menu li
{
  display: inline-block;
  padding: 0px  30px;
  cursor: pointer;
  line-height: 70px;
  position: relative;
  transition: all 0.3s ease-out;
}

nav #menu li a
{
  color: #fff;
  font-family: "Poppins";
  font-weight: 200;
  text-transform: uppercase;
}

nav #menu li a:hover {
    color: gold;
}

#toggle
{
  position: absolute;
  right: 20px;
  top: 14px;
  z-index: 999;
  width: 40px;
  height:40px;
  cursor: pointer;
  float: right;
  transition: all 0.6s ease-out;
  visibility: visible;
  opacity: 0;
}

#toggle .span
{
  height: 3px;
  background: #fff;
  transisiton: all 0.3s ease-out;
  backface-visibility: hidden;
  margin: 5px auto;
}

#toggle.on #one{
    transform: rotate(45deg) translateX(2px) translateY(4px);
}

#toggle.on #two{
    opacity: 0;
}

#toggle.on #three{
  transform: rotate(-45deg) translateX(8px) translateY(-10px);
}


#resize{
  z-index: 1;
  top: 0px;
  position: absolute;
  background: #000;
  width:100%;
  height:100%;
  visibility: hidden;
  opacity: 0;
  transition: all 1s ease-out;
  display: table;
}


#resize #menu
{
  height: 50px;
  display: table-cell;
  vertical-align: center;
}

#resize #menu li
{
  display: block;
  text-align: center;
  padding: 20px 0;
  font-size: 50px;
  min-height: 50px;
  font-weight: 200;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

#resize #menu li a
{
  color: #fff;
  text-transform: uppercase;
}

#resize.active
{
  visibility: visible;
  opacity: 0.99;

}


@media(max-width: 768px)
{
  #toggle{
    visibility: visible;
    opacity: 1;
    margin-top: 6px;
  }

  nav #brand
  {
      margin-left: 18px;
  }

  #menu a{
    font-family: "Poppins";
    font-weight: 200;
    font-size: 20px;
  }

  nav #menu{
    display: none;
  }

  .content
  {
    width:80%;
  }

  .content h1
  {
    font-size: 40px;
  }

}

.section
{
      width: 80%;
      margin: 4em auto;
      line-height: 30px;
      font-family: "Poppins";
      font-size: 18px;
      font-weight: normal;

}

.section h1
{
  font-size: 28px;
  font-weight: 400;
  font-family: "Poppins";
  padding-bottom: 20px;
}

.copyright
{
  position: relative;
  float: right;
  top:15px;
  right: 20px;
  color:#ffffff;
  font-size: 14px;
  font-weight: 100;
  font-family: "Poppins";


}


@media(min-width: 768px)
{
  #resize{
    visibility: hidden !important;
  }
}



/*Contact form css*/
